@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTIwNzI0MC10ZXN0dXNlcjpUaDJ1SklmZGE4cGE5MFNaZlQySjVHQjBjUEdQVmh6Ng==
always-auth=true
